html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: "HelveticaNeueW01-55Roman";
  src: url("../assets/fonts/HelveticaNeueW01-55Roman.eot?#iefix");
  src: url("../assets/fonts/HelveticaNeueW01-55Roman.eot?#iefix") format("eot"),
  url("../assets/fonts/HelveticaNeueW01-55Roman.woff") format("woff"),
  url("../assets/fonts/HelveticaNeueW01-55Roman.ttf") format("truetype"),
  url("../assets/fonts/HelveticaNeueW01-55Roman.svg#helvetica_neue") format("svg");
}

a{
  text-decoration: none;
}

.stock-list{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.stock-list li:first-child .moveUp{
  opacity: 0.3;
}

.stock-list li:last-child .moveDown{
  opacity: 0.3;
}

body{
  background-color: #f0f4f7;
}

.rectangle-1 {
  width: 1300px;
  background-color: #ffffff;
  margin: 6% auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}



